@import './colors/fathym-arctic';
@import './colors/fathym-contrast';
@import './colors/fathym-cool-candy';
@import './colors/fathym-flipper';
@import './fonts/fathym-fonts';
@import './colors/fathym-ice';
// @import './colors/fathym-nide';
@import './colors/fathym-sea-green';
@import './colors/fathym-white-mint';
@import './logos/fathym-icons';

.title, .header {
    font-family: 'encode sans semi';
}

.paragraph-title, .tagline {
    font-family: 'opens sans regular';
}

.plain-text, .remarks {
    font-family: 'opens sans light';
}