
@import './node_modules/@angular/material/theming';
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import '../styles/utils/fathym-mixins';
@import '../styles/utils/fathym-miscellaneous-styles';
@import '../styles/utils/reset';
@import '../styles/utils/margins-padding';
@import '../styles/branding/fonts/fathym-fonts';
@import '../styles/utils/fathym-fonts';
@import '../styles/utils/fathym-cursors';
@import '../styles/branding/fathym-theme-overrides';

html, body {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'opens sans regular', sans-serif;
}

iframe {
	border: none;
}

