
@import '~@angular/material/theming';
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import './node_modules/@angular/material/theming';
@import '../styles/utils/fathym-mixins';
@import '../styles/utils/fathym-miscellaneous-styles';
@import '../styles/utils/reset';
@import '../styles/utils/margins-padding';
@import '../styles/branding/fonts/fathym-fonts';
@import '../styles/utils/fathym-fonts';
@import '../styles/utils/fathym-cursors';

@include mat-core();


// @mixin primary-logo($url: null, $background-size: null) {

// 	@if ($url) {
// 		$url: $url;
// 	} else {
// 		$url: $primary-logo;
// 	}

// 	@if ($background-size) {
// 		$background-size: $background-size;
// 	} else {
// 		$background-size: 150px;
// 	}

// 	height: 100%;
// 	width: auto;
// 	background-image: url($url);
// 	background-position: center;
// 	background-repeat: no-repeat;
// 	background-size: $background-size;
// }

@mixin custom-theme($theme) {
    $primary: map-get($theme, primary);
    $accent:  map-get($theme, accent);
	$warn:  map-get($theme, warn);
	
	$primary-color: mat-color($primary);
  	$accent-color: mat-color($accent);

    ::-webkit-scrollbar {
		width: .75rem;
	}

	::-webkit-scrollbar-track {
		background: mat-color($primary);
	}

	::-webkit-scrollbar-thumb {
		background: mat-color($accent);
	}

	.primary-logo {
		height: 100%;
		width: auto;
		background-image: url($primary-logo);
		background-position: center;
		background-repeat: no-repeat;
		background-size: 150px;
	}

    .primary-background {
        background: mat-color($primary);
    }

    .accent-background {
        background: mat-color($accent);
    }

	@include angular-material-theme($theme);
	// @include sidenav($theme);
}

html, body {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'opens sans regular', sans-serif;
}

iframe {
	border: none;
}

	@include push-and-pull();

	@include material-fills();
