@font-face {
	font-family: "encode sans semi";
	src: url('/fonts/EncodeSansSemiCondensed-Black.ttf') format("truetype");
}

@font-face {
	font-family: "opens sans condensed light";
	src: url('/fonts/OpenSansCondensed-Light.ttf') format("truetype");
}

@font-face {
	font-family: "opens sans light";
	src: url('/fonts/OpenSans-Light.ttf') format("truetype");
}

@font-face {
	font-family: "opens sans regular";
	src: url('/fonts/OpenSans-Regular.ttf') format("truetype");
}