
@import '~@angular/material/theming';
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import './node_modules/@angular/material/theming';
@import './margins-padding';
@import './reset';


@include mat-core();

$brand-black: rgb(10, 10, 10) !default;
$brand-white: rgb(245, 245, 245) !default;

@mixin custom-theme($theme) {
    $primary: map-get($theme, primary);
    $accent:  map-get($theme, accent);
	$warn:  map-get($theme, warn);
	// $primary-logo: map-merge($map1: , $map2: )

    $foreground: mat-get($theme, foreground);
	$background: mat-get($theme, bbackground);
	
    ::-webkit-scrollbar {
		width: .75rem;
	}

	::-webkit-scrollbar-track {
		background: mat-color($primary);
	}

	::-webkit-scrollbar-thumb {
		background: mat-color($accent);
	}

	// .primary-logo {
	// 	height: 100%;
	// 	width: auto;
	// 	background-image: url($primary-logo);
	// 	background-position: center;
  	// 	background-repeat: no-repeat;
  	// 	background-size: cover;
	// }

    .primary-background {
        background: mat-color($primary);
    }

    .accent-background {
        background: mat-color($accent);
    }

	
    @include angular-material-theme($theme);
}

@mixin logo($logo) {
	.primary-logo {
		height: 100%;
		width: auto;
		background-image: url($logo);
		background-position: center;
		  background-repeat: no-repeat;
		  background-size: cover;
	}
}

html, body {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	// background-color: whitesmoke;
	font-family: Roboto, 'Helvetica Neue', sans-serif;
}

iframe {
	border: none;
}

.filler {
	flex: 1 1 auto;
	display: inline-block !important;
}

.sticky {
	position: sticky;
	z-index: 750;
	top: 0;
}

.inline {
	display: inline-block;
}

.contents {
	display: contents;
}

.page-element {
	display: contents;
}

.h1 {
	font-size: 2em;
}

.h2 {
	font-size: 1.5em;
}

.h3 {
	font-size: 1.17em;
}

.h4 {
	font-size: 1em;
}

.h5 {
	font-size: 0.83em;
}

.h6 {
	font-size: 0.67em;
}

.mat-spinner {
    margin: auto;
  }

  .mat-full-width {
    width: 100%;
  }

  .spread {
    margin: 2rem;
  }

  .spread-thin {
    margin: 1rem;
  }

  .overlay {
    position: sticky !important;

    &.top {
      top: 0;
    }

    &.bottom {
      bottom: 0;
    }
  }
