/**
  Base brand colors
*/
$daisy: #fbfcf3;
$ice: #f1f4f6;
$white-mint: #dfeff2;
$artic: #9cd8d7;
$cool-candy: #67c7c5;
$sea-green: #4a918e;
$flipper: #A4BAB3;

/**
  Primary and compliments
*/

$flipper-primary-0: $flipper;	// Main Primary flipper */
$flipper-primary-1: #F7F8F8;
$flipper-primary-2: #D2DBD8;
$flipper-primary-3: #7A9D92;
$flipper-primary-4: #548575;

$flipper-complement-0: #FFEBE1;	// Main Complement flipper */
$flipper-complement-1: #FFFEFE;
$flipper-complement-2: #FFF8F4;
$flipper-complement-3: #ECC9B7;
$flipper-complement-4: #C8987F;

$sea-green-primary-0: $sea-green;	// Main Primary sea-green */
$sea-green-primary-1: #AFD8D6;
$sea-green-primary-2: #76B2B0;
$sea-green-primary-3: #2D7976;
$sea-green-primary-4: #186461;

$sea-green-complement-0: #EFAE7A;	// Main Complement sea-green */
$sea-green-complement-1: #FFE4CF;
$sea-green-complement-2: #FFCFA9;
$sea-green-complement-3: #C88149;
$sea-green-complement-4: #A55F28;

$cool-candy-primary-0: $cool-candy;	// Main Primary cool-candy */
$cool-candy-primary-1: #CDF6F4;
$cool-candy-primary-2: #97E1DF;
$cool-candy-primary-3: #41A7A3;
$cool-candy-primary-4: #268F8B;

$cool-candy-complement-0: #FFBB84;	// Main Complement cool-candy */
$cool-candy-complement-1: #FFE8D5;
$cool-candy-complement-2: #FFD0AA;
$cool-candy-complement-3: #FFA863;
$cool-candy-complement-4: #EB8B3E;

$artic-primary-0: $artic;	// Main Primary artic */
$artic-primary-1: #F5FEFE;
$artic-primary-2: #CDF0F0;
$artic-primary-3: #6BB6B6;
$artic-primary-4: #419191;

$artic-complement-0: #FFD8B8;	// Main Complement artic */
$artic-complement-1: #FFFAF6;
$artic-complement-2: #FFEBDA;
$artic-complement-3: #FFC595;
$artic-complement-4: #F2A96C;

$white-mint-primary-0: $white-mint;	// Main Primary white-mint */
$white-mint-primary-1: #FFFFFF;
$white-mint-primary-2: #FAFDFE;
$white-mint-primary-3: #B5D5DB;
$white-mint-primary-4: #7FAEB7;

$white-mint-complement-0: #FFF5EA;	// Main Complement white-mint */
$white-mint-complement-1: #FFFFFF;
$white-mint-complement-2: #FFFDFB;
$white-mint-complement-3: #FFE8D1;
$white-mint-complement-4: #FFD6B0;

$ice-primary-0: $ice;	// Main Primary ice */
$ice-primary-1: #FFFFFF;
$ice-primary-2: #FFFFFF;
$ice-primary-3: #D0DBE2;
$ice-primary-4: #A0B5C3;

$ice-complement-0: #FFFDF9;	// Main Complement ice */
$ice-complement-1: #FFFFFF;
$ice-complement-2: #FFFFFF;
$ice-complement-3: #FFF6EA;
$ice-complement-4: #FFE9CE;

$daisy-primary-0: $daisy;	// Main Primary daisy */
$daisy-primary-1: #FFFFFF;
$daisy-primary-2: #FEFEFD;
$daisy-primary-3: #F7FAE0;
$daisy-primary-4: #D5DAAC;

$daisy-complement-0: #CEC8CF;	// Main Complement daisy */
$daisy-complement-1: #FFFFFF;
$daisy-complement-2: #F2F2F2;
$daisy-complement-3: #A89AAB;
$daisy-complement-4: #8D7593;

/**
Theme colors flipper
*/
$fathym-ivy-flipper: (
    100: $flipper-primary-1,
    200: $flipper-primary-2,
    300: $flipper-primary-3,
    400: $flipper-primary-4,
    500: $flipper-primary-0,
    contrast: (
        100: #1f2b2b,
        200: #1f2b2b,
        300: #1f2b2b,
        400: #1f2b2b,
        500: #1f2b2b,
  )
);

$fathym-ivy-fipper-accent: (
  100: $flipper-complement-1,
  200: $flipper-complement-2,
  300: $flipper-complement-3,
  400: $flipper-complement-4,
  500: $flipper-complement-0,
  contrast: (
    100: #1f2b2b,
    200: #1f2b2b,
    300: #1f2b2b,
    400: #1f2b2b,
    500: #1f2b2b
  )
);

/**
Theme colors sea green
*/
$fathym-ivy-sea-green: (
    100: $sea-green-primary-1,
    200: $sea-green-primary-2,
    300: $sea-green-primary-3,
    400: $sea-green-primary-4,
    500: $sea-green-primary-0,
    contrast: (
        100: #fcfdfd,
        200: #f9fbfb,
        300: #f7f8fa,
        400: #f4f6f8,
        500: $ice
  )
);

$fathym-ivy-sea-green-accent: (
  100: $sea-green-complement-1,
  200: $sea-green-complement-2,
  300: $sea-green-complement-3,
  400: $sea-green-complement-4,
  500: $sea-green-complement-0,
  contrast: (
      100: #303131,
      200: #303131,
      300: #303131,
      400: $ice,
      500: $ice
      )
);

/**
Theme colors cool candy
*/
$fathym-ivy-cool-candy: (
    100: $cool-candy-primary-1,
    200: $cool-candy-primary-2,
    300: $cool-candy-primary-3,
    400: $cool-candy-primary-4,
    500: $cool-candy-primary-0,
    contrast: (
        100: #303131,
        200: #303131,
        300: #f7f8fa,
        400: #f4f6f8,
        500: $ice
  )
);

$fathym-ivy-cool-candy-accent: (
  100: $cool-candy-complement-1,
  200: $cool-candy-complement-2,
  300: $cool-candy-complement-3,
  400: $cool-candy-complement-4,
  500: $cool-candy-complement-0,
  contrast: (
      100: #303131,
      200: #303131,
      300: #303131,
      400: $ice,
      500: $ice
      )
);

/**
Theme colors artic
*/
$fathym-ivy-artic: (
    100: $artic-primary-1,
    200: $artic-primary-2,
    300: $artic-primary-3,
    400: $artic-primary-4,
    500: $artic-primary-0,
    contrast: (
        100: #303131,
        200: #303131,
        300: #f7f8fa,
        400: #f4f6f8,
        500: $ice
  )
);

$fathym-ivy-artic-accent: (
  100: $artic-complement-1,
  200: $artic-complement-2,
  300: $artic-complement-3,
  400: $artic-complement-4,
  500: $artic-complement-0,
  contrast: (
      100: #303131,
      200: #303131,
      300: #303131,
      400: $ice,
      500: $ice
      )
);

/**
Theme colors white mint
*/
$fathym-ivy-white-mint: (
    100: $white-mint-primary-1,
    200: $white-mint-primary-2,
    300: $white-mint-primary-3,
    400: $white-mint-primary-4,
    500: $white-mint-primary-0,
    contrast: (
        100: #303131,
        200: #303131,
        300: #303131,
        400: #303131,
        500: #303131
  )
);

$fathym-ivy-white-mint-accent: (
  100: $white-mint-complement-1,
  200: $white-mint-complement-2,
  300: $white-mint-complement-3,
  400: $white-mint-complement-4,
  500: $white-mint-complement-0,
  contrast: (
      100: #303131,
      200: #303131,
      300: #303131,
      400: #303131,
      500: #303131
      )
);

/**
Theme colors ice
*/
$fathym-ivy-ice: (
    100: $ice-primary-1,
    200: $ice-primary-2,
    300: $ice-primary-3,
    400: $ice-primary-4,
    500: $ice-primary-0,
    contrast: (
        100: #303131,
        200: #303131,
        300: #303131,
        400: #303131,
        500: #303131
  )
);

$fathym-ivy-ice-accent: (
  100: $ice-complement-1,
  200: $ice-complement-2,
  300: $ice-complement-3,
  400: $ice-complement-4,
  500: $ice-complement-0,
  contrast: (
      100: #303131,
      200: #303131,
      300: #303131,
      400: #303131,
      500: #303131
      )
);

/**
Theme colors daisy
*/
$fathym-ivy-daisy: (
    100: $daisy-primary-1,
    200: $daisy-primary-2,
    300: $daisy-primary-3,
    400: $daisy-primary-4,
    500: $daisy-primary-0,
    contrast: (
        100: #303131,
        200: #303131,
        300: #303131,
        400: #303131,
        500: #303131
  )
);

$fathym-ivy-daisy-accent: (
  100: $daisy-complement-1,
  200: $daisy-complement-2,
  300: $daisy-complement-3,
  400: $daisy-complement-4,
  500: $daisy-complement-0,
  contrast: (
      100: #303131,
      200: #303131,
      300: $ice,
      400: $ice,
      500: #303131
      )
);


