@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Condensed:400,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');

.title, .header {
	font-family: 'Encode Sans Condensed', sans-serif;
	font-weight: 900;
}

.paragraph-title, .tagline {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

.plain-text, .remarks {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

.h1 {
	font-size: 2em;
}

.h2 {
	font-size: 1.5em;
}

.h3 {
	font-size: 1.17em;
}

.h4 {
	font-size: 1em;
}

.h5 {
	font-size: 0.83em;
}

.h6 {
	font-size: 0.67em;
}
