@import '~@angular/material/theming';
@include mat-core();

@import '../styles/branding/colors/fathym-theme-colors';
@import '../styles/branding/logos/fathym-icons';

@mixin theme-extras($theme) {
    ::-webkit-scrollbar {
        width: .75rem;
    }

    ::-webkit-scrollbar-track {
        background: mat-color($primary);
    }

    ::-webkit-scrollbar-thumb {
        background: mat-color($accent);
    }

    .primary-logo {
        height: 100%;
        width: auto;
        background-image: url($primary-logo);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 150px;
    }
}


/**
*   arctic theme
*/
@function fathym-arctic-theme($isDark: false) {
    $primary: mat-palette($fathym-arctic-primary);
    $accent: mat-palette($fathym-arctic-accent);
    $warn: mat-palette($fathym-warn, 500);
    $theme: mat-light-theme(
        $primary,
        $accent,
        $warn
      );
    @if $isDark {
        $theme: mat-dark-theme(
            $primary,
            $accent,
            $warn
          );
    }
    
    @return $theme;
}

/**
*   contrast theme
*/
$fathym-contrast-primary: mat-palette($fathym-contrast-primary);
$fathym-contrast-accent: mat-palette($fathym-contrast-accent);
$fathym-contrast-warn: mat-palette($fathym-warn, 500);

$fathym-contrast-dark-theme: mat-dark-theme(
  $fathym-contrast-primary,
  $fathym-contrast-accent,
  $fathym-contrast-warn
);

$fathym-contrast-light-theme: mat-light-theme(
  $fathym-contrast-primary,
  $fathym-contrast-accent,
  $fathym-contrast-warn
);

/**
*   cool candy theme
*/
$fathym-cool-candy-primary: mat-palette($fathym-cool-candy-primary);
$fathym-cool-candy-accent: mat-palette($fathym-cool-candy-accent);
$fathym-cool-candy-warn: mat-palette($fathym-warn, 500);

$fathym-cool-candy-dark-theme: mat-dark-theme(
  $fathym-cool-candy-primary,
  $fathym-cool-candy-accent,
  $fathym-cool-candy-warn
);

$fathym-cool-candy-light-theme: mat-light-theme(
  $fathym-cool-candy-primary,
  $fathym-cool-candy-accent,
  $fathym-cool-candy-warn
);

/**
*   flipper theme
*/
$fathym-flipper-primary: mat-palette($fathym-flipper-primary);
$fathym-flipper-accent: mat-palette($fathym-flipper-accent);
$fathym-flipper-warn: mat-palette($fathym-warn, 500);

$fathym-flipper-dark-theme: mat-dark-theme(
  $fathym-flipper-primary,
  $fathym-flipper-accent,
  $fathym-flipper-warn
);

$fathym-flipper-light-theme: mat-light-theme(
  $fathym-flipper-primary,
  $fathym-flipper-accent,
  $fathym-flipper-warn
);

/**
*   ice theme
*/
$fathym-ice-primary: mat-palette($fathym-ice-primary);
$fathym-ice-accent: mat-palette($fathym-ice-accent);
$fathym-ice-warn: mat-palette($fathym-warn, 500);

$fathym-ice-dark-theme: mat-dark-theme(
  $fathym-ice-primary,
  $fathym-ice-accent,
  $fathym-ice-warn
);

$fathym-ice-light-theme: mat-light-theme(
  $fathym-ice-primary,
  $fathym-ice-accent,
  $fathym-ice-warn
);

/**
*   sea-green theme
*/
$fathym-sea-green-primary: mat-palette($fathym-sea-green-primary);
$fathym-sea-green-accent: mat-palette($fathym-sea-green-accent);
$fathym-sea-green-warn: mat-palette($fathym-warn, 500);

$fathym-sea-green-dark-theme: mat-dark-theme(
  $fathym-sea-green-primary,
  $fathym-sea-green-accent,
  $fathym-sea-green-warn
);

$fathym-sea-green-light-theme: mat-light-theme(
  $fathym-sea-green-primary,
  $fathym-sea-green-accent,
  $fathym-sea-green-warn
);

/**
*   white-mint theme
*/
$fathym-white-mint-primary: mat-palette($fathym-white-mint-primary);
$fathym-white-mint-accent: mat-palette($fathym-white-mint-accent);
$fathym-white-mint-warn: mat-palette($fathym-warn, 500);

$fathym-white-mint-dark-theme: mat-dark-theme(
  $fathym-white-mint-primary,
  $fathym-white-mint-accent,
  $fathym-white-mint-warn
);

$fathym-white-mint-light-theme: mat-light-theme(
  $fathym-white-mint-primary,
  $fathym-white-mint-accent,
  $fathym-white-mint-warn
);

/**
*   ivy theme - primary and accent are the offical fathym brand colors
*/
$fathym-ivy-primary: mat-palette($fathym-ivy-primary);
$fathym-ivy-accent: mat-palette($fathym-ivy-accent);
$fathym-ivy-warn: mat-palette($fathym-warn, 500);

$fathym-ivy-dark-theme: mat-dark-theme(
  $fathym-ivy-primary,
  $fathym-ivy-accent,
  $fathym-ivy-warn
);

$fathym-ivy-light-theme: mat-light-theme(
  $fathym-ivy-primary,
  $fathym-ivy-accent,
  $fathym-ivy-warn
);