@import '../styles/branding/colors/fathym-ivy';

// define 3 theme color

// mat-palette accepts $palette-name, main, lighter and darker variants
$primary: mat-palette($fathym-ivy-primary);
$accent: mat-palette($fathym-ivy-accent);
$warn: mat-palette($mat-deep-orange, A200);
$primary-logo: $fathym-red-logo;

// create theme (use mat-dark-theme for themes with dark backgrounds)
$ivy-dark-theme: mat-dark-theme(
    $primary,
    $accent,
    $warn
);