@import '~@angular/material/theming';
@include mat-core();

@import '../styles/branding/colors/fathym-theme-colors';
@import '../styles/branding/logos/fathym-icons';

/** 
* Set initial fathym logo
*/
$primary-logo: $fathym-default-logo;

@mixin theme-extras($theme) {
    ::-webkit-scrollbar {
        width: .75rem;
    }

    ::-webkit-scrollbar-track {
        background: mat-color(map-get($theme, primary));
    }

    ::-webkit-scrollbar-thumb {
        background: mat-color(map-get($theme, accent));
    }

    .primary-logo {
        height: 100%;
        width: auto;
        background-image: url($primary-logo);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 150px;
    }

    .header-background {
        background-color: mat-color(map-get($theme, accent), A700);
    }
}

@function fathym-theme($primary, $accent, $warn, $isDark: false) {
    $theme: mat-light-theme(
        $primary,
        $accent,
        $warn
      );
    @if $isDark {
        $theme: mat-dark-theme(
            $primary,
            $accent,
            $warn
          );
    }
    
    @return $theme;
}

/**
*   arctic theme
*/
@function fathym-arctic-theme($isDark: false) {
    $primary: mat-palette($fathym-arctic-primary);
    $accent: mat-palette($fathym-arctic-accent);
    $warn: mat-palette($fathym-warn, 500);

    @return fathym-theme($primary, $accent, $warn, $isDark);
}

/**
*   contrast theme
*/
@function fathym-contrast-theme($isDark: false) {
    $fathym-contrast-primary: mat-palette($fathym-contrast-primary);
    $fathym-contrast-accent: mat-palette($fathym-contrast-accent);
    $fathym-contrast-warn: mat-palette($fathym-warn, 500);  

    @return fathym-theme($primary, $accent, $warn, $isDark);
}

/**
*   cool candy theme
*/
@function fathym-cool-candy-theme($isDark: false) {
    $fathym-cool-candy-primary: mat-palette($fathym-cool-candy-primary);
    $fathym-cool-candy-accent: mat-palette($fathym-cool-candy-accent);
    $fathym-cool-candy-warn: mat-palette($fathym-warn, 500);

    @return fathym-theme($primary, $accent, $warn, $isDark);
}

/**
*   flipper theme
*/
@function fathym-flipper-theme($isDark: false) {
    $fathym-flipper-primary: mat-palette($fathym-flipper-primary);
    $fathym-flipper-accent: mat-palette($fathym-flipper-accent);
    $fathym-flipper-warn: mat-palette($fathym-warn, 500);

    @return fathym-theme($primary, $accent, $warn, $isDark);

}

/**
*   ice theme
*/
@function fathym-ice-theme($isDark: false) {
    $fathym-ice-primary: mat-palette($fathym-ice-primary);
    $fathym-ice-accent: mat-palette($fathym-ice-accent);
    $fathym-ice-warn: mat-palette($fathym-warn, 500);

    @return fathym-theme($primary, $accent, $warn, $isDark);
}

/**
*   sea-green theme
*/
@function fathym-sea-green-theme($isDark: false) {
    $fathym-sea-green-primary: mat-palette($fathym-sea-green-primary);
    $fathym-sea-green-accent: mat-palette($fathym-sea-green-accent);
    $fathym-sea-green-warn: mat-palette($fathym-warn, 500);

    @return fathym-theme($primary, $accent, $warn, $isDark);
}

/**
*   white-mint theme
*/
@function fathym-white-mint-theme($isDark: false) {
    $fathym-white-mint-primary: mat-palette($fathym-white-mint-primary);
    $fathym-white-mint-accent: mat-palette($fathym-white-mint-accent);
    $fathym-white-mint-warn: mat-palette($fathym-warn, 500);

    @return fathym-theme($primary, $accent, $warn, $isDark);
}

/**
*   ivy theme - fathym brand colors
*/
@function fathym-ivy-theme($isDark: false) {
    $fathym-ivy-primary: mat-palette($fathym-ivy-primary);
    $fathym-ivy-accent: mat-palette($fathym-ivy-accent);
    $fathym-ivy-warn: mat-palette($fathym-warn, 500);

    @return fathym-theme($primary, $accent, $warn, $isDark);
}