@import '../styles/branding/colors/fathym-flipper';
@import '../styles/branding/logos/fathym-icons';
// define 3 theme color
// mat-palette accepts $palette-name, main, lighter and darker variants
$primary: mat-palette($fathym-flipper-primary);
$accent: mat-palette($fathym-flipper-accent);
$warn: mat-palette($mat-deep-orange, A200);
$primary-logo: $fathym-primary-flipper-logo;

// create theme (use mat-dark-theme for themes with dark backgrounds)
$default-theme: mat-light-theme(
    $primary,
    $accent,
    $warn
);

