@import '../colors/fathym-ivy';

// define 3 theme color
// mat-palette accepts $palette-name, main, lighter and darker variants
$primary: mat-palette($fathym-ivy-sea-green-contrast);
$accent: mat-palette($fathym-ivy-sea-green-accent-contrast);
// $warn: mat-palette($mat-deep-orange, A200);

// create theme (use mat-dark-theme for themes with dark backgrounds)
$default-theme: mat-light-theme(
    $primary,
    $accent
);