@import '~@angular/material/theming';
@include mat-core();

@import '../styles/branding/colors/fathym-theme-colors';
@import '../styles/branding/logos/fathym-icons';
@import '../styles/branding/fonts/fathym-fonts';

/** 
* Set initial fathym logo
*/
$primary-logo: $fathym-default-logo;

@mixin fathym-branding($theme) {
    .header-background {
        background-color: mat-color(map-get($theme, accent), A700);
    }

    .mat-toolbar {
        &.mat-primary {
            background-color: mat-color(map-get($theme, primary), A700) !important; 
        }

        // &.mat-accent {
        //     @include _mat-toolbar-color($accent);
        // }

        // &.mat-warn {
        //     @include _mat-toolbar-color($warn);
        // }
    }

    /* primary styling for fathym branding of primary buttons */

    .mat-button.mat-primary,
    .mat-stroked-button.mat-primary {
        color: mat-color(map-get($theme, primary), A700) !important;
    }
    .mat-button.mat-primary:hover,
    .mat-stroked-button.mat-primary:hover {
    background-color: mat-color(map-get($theme, accent), 100) !important;
    }

    .mat-raised-button.mat-primary,
    .mat-flat-button.mat-primary,
    .mat-fab.mat-primary,
    .mat-mini-fab.mat-primary {
    color: mat-color(map-get($theme, accent), 100) !important;
    background-color: mat-color(map-get($theme, primary), A700) !important;
    }

    .mat-icon-button.mat-primary {
    color:mat-color(map-get($theme, primary), A700) !important;
    }

    .error {
        color: #c43843;

    }

    .primary {
        color: #4a918e;
    }

    .mat-card{
        background-color: rgba(164,186,179, 0.9) !important;
    }

    .mat-focused .mat-form-field-label {
        color: mat-color(map-get($theme, primary), A700) !important;
    }

    .tooltip-background {
        color: mat-contrast(map-get($theme, primary), 500) !important;
        background-color: mat-color(map-get($theme, primary), A700) !important;
    }
}

/**
* Put some extra love here
*/
@mixin theme-extras($theme) {
    // $primary: mat-color(map-get($theme, primary));
    // $accent: mat-color(map-get($theme, accent));

    ::-webkit-scrollbar {
        width: .75rem;
    }

    ::-webkit-scrollbar-track {
        background: mat-color(map-get($theme, primary));
    }

    ::-webkit-scrollbar-thumb {
        background: mat-color(map-get($theme, accent));
    }

    .primary-logo {
        height: 100%;
        width: auto;
        background-image: url($primary-logo);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 150px;
    }
}

/**
* Setup light or dark theme
*/
@function fathym-theme($primary, $accent, $warn, $isDark: false) {
    $theme: mat-light-theme(
        $primary,
        $accent,
        $warn
      );
    @if $isDark {
        $theme: mat-dark-theme(
            $primary,
            $accent,
            $warn
          );
    }

    @return $theme;
}

/**
*   arctic theme
*/
@function fathym-arctic-theme($isDark: false) {
    $primary: mat-palette($fathym-arctic-primary);
    $accent: mat-palette($fathym-arctic-accent);
    $warn: mat-palette($fathym-warn, 500);

    @return fathym-theme($primary, $accent, $warn, $isDark);
}

/**
*   contrast theme
*/
@function fathym-contrast-theme($isDark: false) {
    $primary: mat-palette($fathym-contrast-primary);
    $accent: mat-palette($fathym-contrast-accent);
    $warn: mat-palette($fathym-warn, 500);  

    @return fathym-theme($primary, $accent, $warn, $isDark);
}

/**
*   cool candy theme
*/
@function fathym-cool-candy-theme($isDark: false) {
    $primary: mat-palette($fathym-cool-candy-primary);
    $accent: mat-palette($fathym-cool-candy-accent);
    $warn: mat-palette($fathym-warn, 500);

    @return fathym-theme($primary, $accent, $warn, $isDark);
}

/**
*   flipper theme
*/
@function fathym-flipper-theme($isDark: false) {
    $primary: mat-palette($fathym-flipper-primary);
    $accent: mat-palette($fathym-flipper-accent);
    $warn: mat-palette($fathym-warn, 500);

    @return fathym-theme($primary, $accent, $warn, $isDark);

}

/**
*   ice theme
*/
@function fathym-ice-theme($isDark: false) {
    $primary: mat-palette($fathym-ice-primary);
    $accent: mat-palette($fathym-ice-accent);
    $warn: mat-palette($fathym-warn, 500);

    @return fathym-theme($primary, $accent, $warn, $isDark);
}

/**
*   sea-green theme
*/
@function fathym-sea-green-theme($isDark: false) {
    $primary: mat-palette($fathym-sea-green-primary);
    $accent: mat-palette($fathym-sea-green-accent);
    $warn: mat-palette($fathym-warn, 500);

    @return fathym-theme($primary, $accent, $warn, $isDark);
}

/**
*   white-mint theme
*/
@function fathym-white-mint-theme($isDark: false) {
    $primary: mat-palette($fathym-white-mint-primary);
    $accent: mat-palette($fathym-white-mint-accent);
    $warn: mat-palette($fathym-warn, 500);

    @return fathym-theme($primary, $accent, $warn, $isDark);
}

/**
*   ivy theme - fathym brand colors
*/
@function fathym-ivy-theme($isDark: false) {
    $primary: mat-palette($fathym-ivy-primary);
    $accent: mat-palette($fathym-ivy-accent);
    $warn: mat-palette($fathym-warn, 500);

    @return fathym-theme($primary, $accent, $warn, $isDark);
}