@import '../styles/colors/fathym-contrast';

// define 3 theme color

// mat-palette accepts $palette-name, main, lighter and darker variants
$primary: mat-palette($fathym-contrast-gray);
$accent: mat-palette($fathym-contrast-accent);
$warn: mat-palette($mat-deep-orange, A200);

// create theme (use mat-dark-theme for themes with dark backgrounds)
$dark-theme: mat-dark-theme(
    $primary,
    $accent,
    $warn
);