@import '../colors/fathym-white-mint';

// define 3 theme color
// mat-palette accepts $palette-name, main, lighter and darker variants
$primary: mat-palette($fathym-ivy-white-mint-primary);
$accent: mat-palette($fathym-ivy-white-mint-accent);
$warn: mat-palette($mat-deep-orange, A200);

// create theme (use mat-dark-theme for themes with dark backgrounds)
$light-theme: mat-light-theme(
    $primary,
    $accent,
    $warn
);