$nide-primary: (
  50: #e3f2f3,
  100: #b9dde1,
  200: #8ac7cd,
  300: #5bb1b9,
  400: #37a0aa,
  500: #148f9b,
  600: #128793,
  700: #0e7c89,
  800: #0b727f,
  900: #06606d,
  A100: #9df0ff,
  A200: #6ae9ff,
  A400: #37e1ff,
  A700: #1eddff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$nide-accent: (
  50: #e8f0f7,
  100: #c5d8eb,
  200: #9fbfde,
  300: #79a5d1,
  400: #5c91c7,
  500: #3f7ebd,
  600: #3976b7,
  700: #316bae,
  800: #2961a6,
  900: #1b4e98,
  A100: #d0e2ff,
  A200: #9dc2ff,
  A400: #6aa2ff,
  A700: #5192ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$nide-warn: (
  50: #f8e7e8,
  100: #edc3c7,
  200: #e29ca1,
  300: #d6747b,
  400: #cd565f,
  500: #c43843,
  600: #be323d,
  700: #b62b34,
  800: #af242c,
  900: #a2171e,
  A100: #ffd6d8,
  A200: #ffa3a7,
  A400: #ff7075,
  A700: #ff575d,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$nide-black: rgb(10, 10, 10);
$nide-white: rgb(245, 245, 245);