
$fathym-white-mint-primary: (
  50 : #fbfdfd,
  100 : #f5fafb,
  200 : #eff7f9,
  300 : #e9f4f6,
  400 : #e4f1f4,
  500 : #dfeff2,
  600 : #dbedf0,
  700 : #d7ebee,
  800 : #d2e8ec,
  900 : #cae4e8,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffffff,
  A700 : #ffffff,
  contrast: (
    50 : #202020,
    100 : #202020,
    200 : #202020,
    300 : #202020,
    400 : #202020,
    500 : #202020,
    600 : #202020,
    700 : #202020,
    800 : #202020,
    900 : #202020,
    A100 : #202020,
    A200 : #202020,
    A400 : #202020,
    A700 : #202020,
    )
);

$fathym-white-mint-accent: (
  50 : #fdfefe,
  100 : #fbfcfc,
  200 : #f8fafb,
  300 : #f5f7f9,
  400 : #f3f6f7,
  500 : #f1f4f6,
  600 : #eff3f5,
  700 : #edf1f3,
  800 : #ebeff2,
  900 : #e7ecef,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffffff,
  A700 : #ffffff,
  contrast: (
    50 : #202020,
    100 : #202020,
    200 : #202020,
    300 : #202020,
    400 : #202020,
    500 : #202020,
    600 : #202020,
    700 : #202020,
    800 : #202020,
    900 : #202020,
    A100 : #202020,
    A200 : #202020,
    A400 : #202020,
    A700 : #202020,
    )
);


