   
$fathym-sea-green-primary: (
  50 : #e9f2f1,
    100 : #c9dedd,
    200 : #a5c8c7,
    300 : #80b2b0,
    400 : #65a29f,
    500 : #4a918e,
    600 : #438986,
    700 : #3a7e7b,
    800 : #327471,
    900 : #22625f,
    A100 : #a4fffb,
    A200 : #71fff8,
    A400 : #3efff6,
    A700 : #25fff4,
  contrast: (
    50 : #202020,
    100 : #202020,
    200 : #202020,
    300 : #202020,
    400 : #202020,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #202020,
    A200 : #202020,
    A400 : #202020,
    A700 : #202020,
    )
);

$fathym-sea-green-accent: (
    50 : #edf8f8,
    100 : #d1eeee,
    200 : #b3e3e2,
    300 : #95d8d6,
    400 : #7ecfce,
    500 : #67c7c5,
    600 : #5fc1bf,
    700 : #54bab8,
    800 : #4ab3b0,
    900 : #39a6a3,
    A100 : #f3ffff,
    A200 : #c0fffd,
    A400 : #8dfffc,
    A700 : #74fffb,
  contrast: (
    50 : #202020,
    100 : #202020,
    200 : #202020,
    300 : #202020,
    400 : #202020,
    500 : #202020,
    600 : #202020,
    700 : #202020,
    800 : #202020,
    900 : #202020,
    A100 : #202020,
    A200 : #202020,
    A400 : #202020,
    A700 : #202020,
    )
);


