
$fathym-ivy-primary: (
    50 : #f4f7f6,
    100 : #e4eae8,
    200 : #d2ddd9,
    300 : #bfcfca,
    400 : #b2c4be,
    500 : #a4bab3,
    600 : #9cb3ac,
    700 : #92aba3,
    800 : #89a39a,
    900 : #78948b,
    A100 : #a5c8c7,
    A200 : #80b2b0,
    A400 : #65a29f,
    A700 : #4a918e,
    contrast: (
      50 : #282D35,
      100 : #282D35,
      200 : #282D35,
      300 : #282D35,
      400 : #282D35,
      500 : #282D35,
      600 : #282D35,
      700 : #282D35,
      800 : #282D35,
      900 : #282D35,
      A100 : #282D35,
      A200 : #282D35,
      A400 : #282D35,
      A700 : #282D35,
      )
  );
  
  $fathym-ivy-accent: (
      50 : #f3fafa,
      100 : #e1f3f3,
      200 : #ceeceb,
      300 : #bae4e2,
      400 : #abdedc,
      500 : #9cd8d6,
      600 : #94d4d1,
      700 : #8acecc,
      800 : #80c8c6,
      900 : #6ebfbc,
      A100 : #ffffff,
      A200 : #ffffff,
      A400 : #ffffff,
      A700 : #f5fffe,
    contrast: (
      50 : #202020,
      100 : #202020,
      200 : #202020,
      300 : #202020,
      400 : #202020,
      500 : #202020,
      600 : #202020,
      700 : #202020,
      800 : #202020,
      900 : #202020,
      A100 : #202020,
      A200 : #202020,
      A400 : #202020,
      A700 : #202020,
      )
  );
  
  $fathym-ivy-warn: (
      50 : #f8e7e8,
      100 : #edc3c7,
      200 : #e29ca1,
      300 : #d6747b,
      400 : #cd565f,
      500 : #c43843,
      600 : #be323d,
      700 : #b62b34,
      800 : #af242c,
      900 : #a2171e,
      A100 : #fff0f3,
      A200 : #ffbdca,
      A400 : #ff8aa1,
      A700 : #ff708d,
    contrast: (
      50 : #202020,
      100 : #202020,
      200 : #202020,
      300 : #202020,
      400 : #202020,
      500 : #202020,
      600 : #202020,
      700 : #202020,
      800 : #202020,
      900 : #202020,
      A100 : #202020,
      A200 : #202020,
      A400 : #202020,
      A700 : #202020,
      )
  );
  /**
  * return a specific theme color
  * 
  * @param $type which map we want to drill into, defaults to primary
  * @param $hue which hue value we want to return, default is 500
  */
  @function theme-color($type: primary, $hue: 500) {
    $map: map-get($fathym-ivy-primary, $hue);
    @if $type == accent {
      $map: map-get($fathym-ivy-accent, $hue);
    } 
    @if $type == warn {
      $map: map-get($fathym-ivy-warn, $hue);
    }
    
    @return $map;
  }
  