$fathym-warn: (
    50 : #ffebe4,
    100 : #ffcdbd,
    200 : #ffab91,
    300 : #ff8964,
    400 : #ff7043,
    500 : #ff5722,
    600 : #ff4f1e,
    700 : #ff4619,
    800 : #ff3c14,
    900 : #ff2c0c,
    A100 : #ffffff,
    A200 : #fff7f6,
    A400 : #ffc9c3,
    A700 : #ffb2a9,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);