
$fathym-contrast-primary: (
    50 : #fde8ea,
    100 : #fac7cb,
    200 : #f7a1a8,
    300 : #f47b85,
    400 : #f15f6b,
    500 : #ef4351,
    600 : #ed3d4a,
    700 : #eb3440,
    800 : #e82c37,
    900 : #e41e27,
    A100 : #ffffff,
    A200 : #ffe6e7,
    A400 : #ffb3b6,
    A700 : #ff9a9e,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
    )
);

$fathym-contrast-accent: (
    50 : #e5e6e7,
    100 : #bfc0c2,
    200 : #94969a,
    300 : #696c72,
    400 : #484d53,
    500 : #282d35,
    600 : #242830,
    700 : #1e2228,
    800 : #181c22,
    900 : #0f1116,
    A100 : #5b7cff,
    A200 : #2853ff,
    A400 : #0031f4,
    A700 : #002cda,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
    )
);


 /**
  * return a specific theme color
  * 
  * @param $type which map we want to drill into, defaults to primary
  * @param $hue which hue value we want to return, default is 500
  */
  @function theme-color($type: primary, $hue: 500) {
    $map: map-get($fathym-ivy-primary, $hue);
    @if $type == accent {
      $map: map-get($fathym-ivy-accent, $hue);
    }
    
    @return $map;
  }