
$fathym-ivy-primary: (
    50 : #f4f7f6,
    100 : #e4eae8,
    200 : #d2ddd9,
    300 : #bfcfca,
    400 : #b2c4be,
    500 : #a4bab3,
    600 : #9cb3ac,
    700 : #92aba3,
    800 : #89a39a,
    900 : #78948b,
    A100 : #a5c8c7,
    A200 : #80b2b0,
    A400 : #65a29f,
    A700 : #4a918e,
    contrast: (
      50 : #282D35,
      100 : #282D35,
      200 : #282D35,
      300 : #282D35,
      400 : #282D35,
      500 : #282D35,
      600 : #282D35,
      700 : #282D35,
      800 : #282D35,
      900 : #282D35,
      A100 : #282D35,
      A200 : #282D35,
      A400 : #282D35,
      A700 : #282D35,
      )
  );
  
  $fathym-ivy-accent: (
      50 : #fdfdfd,
      100 : #f5fafb,
      200 : #eff7f9,
      300 : #e9f4f6,
      400 : #e4f1f4,
      500 : #dfeff2,
      600 : #dbedf0,
      700 : #d7ebee,
      800 : #d2e8ec,
      900 : #cae4e8,
      A100 : #b3e3e2,
      A200 : #95d8d6,
      A400 : #7ecfce,
      A700 : #67c7c5,
    contrast: (
      50 : #202020,
      100 : #202020,
      200 : #202020,
      300 : #202020,
      400 : #202020,
      500 : #202020,
      600 : #202020,
      700 : #202020,
      800 : #202020,
      900 : #202020,
      A100 : #202020,
      A200 : #202020,
      A400 : #202020,
      A700 : #202020,
      )
  );
  
  /**
  * return a specific theme color
  * 
  * @param $type which map we want to drill into, defaults to primary
  * @param $hue which hue value we want to return, default is 500
  */
  @function theme-color($type: primary, $hue: 500) {
    $map: map-get($fathym-ivy-primary, $hue);
    @if $type == accent {
      $map: map-get($fathym-ivy-accent, $hue);
    }
    
    @return $map;
  }
  