

  $nide-primary: (
  50: #EDF8F8,
      100: #D1EEEE,
      200: #B3E3E2,
      300: #95D8D6,
      400: #7ECFCE,
      500: #67c7c5,
      600: #5fc1bf,
      700: #54bab8,
      800: #4ab3b0,
      900: #39a6a3,
      A100: #f3ffff,
      A200: #c0fffd,
      A400: #8dfffc,
      A700: #74fffb,
      contrast: (
        50 : #202020,
        100 : #202020,
        200 : #202020,
        300 : #202020,
        400 : #202020,
        500 : #202020,
        600 : #202020,
        700 : #202020,
        800 : #202020,
        900 : #202020,
        A100 : #202020,
        A200 : #202020,
        A400 : #202020,
        A700 : #202020,
    )
  );

  $nide-accent: (
  50: #f4f7f6,
  100: #e4eae8,
  200: #d2ddd9,
  300: #bfcfca,
  400: #b2c4be,
  500: #dbfdf2,
  600: #9cb3ac,
  700: #92aba3,
  800: #89a39a,
  900: #78948b,
  A100: #ffffff,
  A200: #e6fef6,
  A400: #b3ffe5,
  A700: #99ffdd,
  contrast: (
    50 : #202020,
    100 : #202020,
    200 : #202020,
    300 : #202020,
    400 : #202020,
    500 : #202020,
    600 : #202020,
    700 : #202020,
    800 : #202020,
    900 : #202020,
    A100 : #202020,
    A200 : #202020,
    A400 : #202020,
    A700 : #202020,
    )
  );

  $nide-warn: (
    50: #f8e7e8,
    100: #edc3c7,
    200: #e29ca1,
    300: #d6747b,
    400: #cd565f,
    500: #c43843,
    600: #be323d,
    700: #b62b34,
    800: #af242c,
    900: #a2171e,
    A100: #ffd6d8,
    A200: #ffa3a7,
    A400: #ff7075,
    A700: #ff575d,
    contrast: (
      50: #000000,
      100: #000000,
      200: #000000,
      300: #000000,
      400: #ffffff,
      500: #ffffff,
      600: #ffffff,
      700: #ffffff,
      800: #ffffff,
      900: #ffffff,
      A100: #000000,
      A200: #000000,
      A400: #000000,
      A700: #000000
    )
  );

  $nide-black: rgb(10, 10, 10);
  $nide-white: rgb(245, 245, 245);


