$fathym-warn: (
    50: #f8e7e8,
    100: #edc3c7,
    200: #e29ca1,
    300: #d6747b,
    400: #cd565f,
    500: #c43843,
    600: #be323d,
    700: #b62b34,
    800: #af242c,
    900: #a2171e,
    A100: #ffd6d8,
    A200: #ffa3a7,
    A400: #ff7075,
    A700: #ff575d,
    contrast: (
      50: #000000,
      100: #000000,
      200: #000000,
      300: #000000,
      400: #ffffff,
      500: #ffffff,
      600: #ffffff,
      700: #ffffff,
      800: #ffffff,
      900: #ffffff,
      A100: #000000,
      A200: #000000,
      A400: #000000,
      A700: #000000
    )
);
