
$fathym-cool-candy-primary: (
  50 : #edf8f8,
  100 : #d1eeee,
  200 : #b3e3e2,
  300 : #95d8d6,
  400 : #7ecfce,
  500 : #67c7c5,
  600 : #5fc1bf,
  700 : #54bab8,
  800 : #4ab3b0,
  900 : #39a6a3,
  A100 : #f3ffff,
  A200 : #c0fffd,
  A400 : #8dfffc,
  A700 : #74fffb,
contrast: (
  50 : #202020,
  100 : #202020,
  200 : #202020,
  300 : #202020,
  400 : #202020,
  500 : #202020,
  600 : #202020,
  700 : #202020,
  800 : #202020,
  900 : #202020,
  A100 : #202020,
  A200 : #202020,
  A400 : #202020,
  A700 : #202020,
  )
);

$fathym-cool-candy-accent: (
  50 : #f3fafa,
  100 : #e1f3f3,
  200 : #ceeceb,
  300 : #bae4e3,
  400 : #abdedd,
  500 : #9cd8d7,
  600 : #94d4d3,
  700 : #8acecd,
  800 : #80c8c7,
  900 : #6ebfbe,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #d2fffe,
  A700 : #b8fffe,
contrast: (
  50 : #202020,
  100 : #202020,
  200 : #202020,
  300 : #202020,
  400 : #202020,
  500 : #202020,
  600 : #202020,
  700 : #202020,
  800 : #202020,
  900 : #202020,
  A100 : #202020,
  A200 : #202020,
  A400 : #202020,
  A700 : #202020,
  )
);


