
$fathym-flipper-primary: (
  50 : #f4f7f6,
  100 : #e4eae8,
  200 : #d2ddd9,
  300 : #bfcfca,
  400 : #b2c4be,
  500 : #a4bab3,
  600 : #9cb3ac,
  700 : #92aba3,
  800 : #89a39a,
  900 : #78948b,
  A100 : #ffffff,
  A200 : #e6fef6,
  A400 : #b3ffe5,
  A700 : #99ffdd,
  contrast: (
    50 : #202020,
    100 : #202020,
    200 : #202020,
    300 : #202020,
    400 : #202020,
    500 : #202020,
    600 : #202020,
    700 : #202020,
    800 : #202020,
    900 : #202020,
    A100 : #202020,
    A200 : #202020,
    A400 : #202020,
    A700 : #202020,
    )
);

$fathym-flipper-accent: (
  50 : #fdfefe,
  100 : #fbfcfc,
  200 : #f8fafb,
  300 : #f5f7f9,
  400 : #f3f6f7,
  500 : #f1f4f6,
  600 : #eff3f5,
  700 : #edf1f3,
  800 : #ebeff2,
  900 : #e7ecef,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffffff,
  A700 : #ffffff,
  contrast: (
    50 : #202020,
    100 : #202020,
    200 : #202020,
    300 : #202020,
    400 : #202020,
    500 : #202020,
    600 : #202020,
    700 : #202020,
    800 : #202020,
    900 : #202020,
    A100 : #202020,
    A200 : #202020,
    A400 : #202020,
    A700 : #202020,
    )
);


