/**
* good tool for generating color palettes: http://mcg.mbitson.com/#!?mcgpalette0=%233f51b5
*/

@import './fathym-arctic';
@import './fathym-cool-candy';
@import './fathym-flipper';
@import './fathym-ice';
@import './fathym-sea-green';
@import './fathym-white-mint';
@import './fathym-warn';
// @import './fathym-ivy';
@import './fathym-contrast';
@import './fathym-ivy-brand';


