
$fathym-ice-primary: (
  50 : #fdfefe,
  100 : #fbfcfc,
  200 : #f8fafb,
  300 : #f5f7f9,
  400 : #f3f6f7,
  500 : #f1f4f6,
  600 : #eff3f5,
  700 : #edf1f3,
  800 : #ebeff2,
  900 : #e7ecef,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffffff,
  A700 : #ffffff,
  contrast: (
    50 : #202020,
    100 : #202020,
    200 : #202020,
    300 : #202020,
    400 : #202020,
    500 : #202020,
    600 : #202020,
    700 : #202020,
    800 : #202020,
    900 : #202020,
    A100 : #202020,
    A200 : #202020,
    A400 : #202020,
    A700 : #202020,
    )
);

$fathym-ice-accent: (
  50 : #fffffe,
    100 : #fefefc,
    200 : #fdfefa,
    300 : #fcfdf7,
    400 : #fcfcf6,
    500 : #fbfcf4,
    600 : #fafcf3,
    700 : #fafbf1,
    800 : #f9fbef,
    900 : #f8faec,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  contrast: (
    50 : #202020,
    100 : #202020,
    200 : #202020,
    300 : #202020,
    400 : #202020,
    500 : #202020,
    600 : #202020,
    700 : #202020,
    800 : #202020,
    900 : #202020,
    A100 : #202020,
    A200 : #202020,
    A400 : #202020,
    A700 : #202020,
    )
);


