.margin-0 {
    margin: 0 !important;
  }
  
  .margin-top-0,
  .margin-y-0 {
    margin-top: 0 !important;
  }
  
  .margin-right-0,
  .margin-x-0 {
    margin-right: 0 !important;
  }
  
  .margin-bottom-0,
  .margin-y-0 {
    margin-bottom: 0 !important;
  }
  
  .margin-left-0,
  .margin-x-0 {
    margin-left: 0 !important;
  }
  
  .margin-1 {
    margin: 0.25rem !important;
  }
  
  .margin-top-1,
  .margin-y-1 {
    margin-top: 0.25rem !important;
  }
  
  .margin-right-1,
  .margin-x-1 {
    margin-right: 0.25rem !important;
  }
  
  .margin-bottom-1,
  .margin-y-1 {
    margin-bottom: 0.25rem !important;
  }
  
  .margin-left-1,
  .margin-x-1 {
    margin-left: 0.25rem !important;
  }
  
  .margin-2 {
    margin: 0.5rem !important;
  }
  
  .margin-top-2,
  .margin-y-2 {
    margin-top: 0.5rem !important;
  }
  
  .margin-right-2,
  .margin-x-2 {
    margin-right: 0.5rem !important;
  }
  
  .margin-bottom-2,
  .margin-y-2 {
    margin-bottom: 0.5rem !important;
  }
  
  .margin-left-2,
  .margin-x-2 {
    margin-left: 0.5rem !important;
  }
  
  .margin-3 {
    margin: 1rem !important;
  }
  
  .margin-top-3,
  .margin-y-3 {
    margin-top: 1rem !important;
  }

  .margin-top-bottom-3 {
    margin: 1rem 0 1rem 0 !important;
  }
  
  .margin-right-3,
  .margin-x-3 {
    margin-right: 1rem !important;
  }
  
  .margin-bottom-3,
  .margin-y-3 {
    margin-bottom: 1rem !important;
  }
  
  .margin-left-3,
  .margin-x-3 {
    margin-left: 1rem !important;
  }
  
  .margin-4 {
    margin: 1.5rem !important;
  }
  
  .margin-top-4,
  .margin-y-4 {
    margin-top: 1.5rem !important;
  }
  
  .margin-right-4,
  .margin-x-4 {
    margin-right: 1.5rem !important;
  }
  
  .margin-bottom-4,
  .margin-y-4 {
    margin-bottom: 1.5rem !important;
  }
  
  .margin-left-4,
  .margin-x-4 {
    margin-left: 1.5rem !important;
  }
  
  .margin-5 {
    margin: 3rem !important;
  }
  
  .margin-top-5,
  .margin-y-5 {
    margin-top: 3rem !important;
  }
  
  .margin-right-5,
  .margin-x-5 {
    margin-right: 3rem !important;
  }
  
  .margin-bottom-5,
  .margin-y-5 {
    margin-bottom: 3rem !important;
  }
  
  .margin-left-5,
  .margin-x-5 {
    margin-left: 3rem !important;
  }


  .margin-5 {
    margin: 3rem !important;
  }
  
  .margin-top-5,
  .margin-y-5 {
    margin-top: 3rem !important;
  }
  
  .margin-right-6,
  .margin-x-6 {
    margin-right: 4.5rem !important;
  }
  
  .margin-bottom-6,
  .margin-y-6 {
    margin-bottom: 4.5rem !important;
  }
  
  .margin-left-6,
  .margin-x-6 {
    margin-left: 4.5rem !important;
  }

  .margin-7 {
    margin: 6rem !important;
  }
  
  .margin-top-7,
  .margin-y-7 {
    margin-top: 6rem !important;
  }
  
  .margin-right-7,
  .margin-x-7 {
    margin-right: 6rem !important;
  }
  
  .margin-bottom-7,
  .margin-y-7 {
    margin-bottom: 6rem !important;
  }
  
  .margin-left-7,
  .margin-x-7 {
    margin-left: 6rem !important;
  }

  .margin-8 {
    margin: 7.5rem !important;
  }
  
  .margin-top-8,
  .margin-y-8 {
    margin-top: 7.5rem !important;
  }
  
  .margin-right-8,
  .margin-x-8 {
    margin-right: 7.5rem !important;
  }
  
  .margin-bottom-8,
  .margin-y-8 {
    margin-bottom: 7.5rem !important;
  }
  
  .margin-left-8,
  .margin-x-8 {
    margin-left: 7.5rem !important;
  }

  .margin-9 {
    margin: 9rem !important;
  }
  
  .margin-top-9,
  .margin-y-9 {
    margin-top: 9rem !important;
  }
  
  .margin-right-9,
  .margin-x-9 {
    margin-right: 9rem !important;
  }
  
  .margin-bottom-9,
  .margin-y-9 {
    margin-bottom: 9rem !important;
  }
  
  .margin-left-9,
  .margin-x-9 {
    margin-left: 9rem !important;
  }

  .padding-0 {
    padding: 0 !important;
  }
  
  .padding-top-0,
  .padding-y-0 {
    padding-top: 0 !important;
  }
  
  .padding-right-0,
  .padding-x-0 {
    padding-right: 0 !important;
  }
  
  .padding-bottom-0,
  .padding-y-0 {
    padding-bottom: 0 !important;
  }
  
  .padding-left-0,
  .padding-x-0 {
    padding-left: 0 !important;
  }
  
  .padding-1 {
    padding: 0.25rem !important;
  }
  
  .padding-top-1,
  .padding-y-1 {
    padding-top: 0.25rem !important;
  }
  
  .padding-right-1,
  .padding-x-1 {
    padding-right: 0.25rem !important;
  }
  
  .padding-bottom-1,
  .padding-y-1 {
    padding-bottom: 0.25rem !important;
  }
  
  .padding-left-1,
  .padding-x-1 {
    padding-left: 0.25rem !important;
  }
  
  .padding-2 {
    padding: 0.5rem !important;
  }
  
  .padding-top-2,
  .padding-y-2 {
    padding-top: 0.5rem !important;
  }
  
  .padding-right-2,
  .padding-x-2 {
    padding-right: 0.5rem !important;
  }
  
  .padding-bottom-2,
  .padding-y-2 {
    padding-bottom: 0.5rem !important;
  }
  
  .padding-left-2,
  .padding-x-2 {
    padding-left: 0.5rem !important;
  }
  
  .padding-3 {
    padding: 1rem !important;
  }
  
  .padding-top-3,
  .padding-y-3 {
    padding-top: 1rem !important;
  }
  
  .padding-right-3,
  .padding-x-3 {
    padding-right: 1rem !important;
  }
  
  .padding-bottom-3,
  .padding-y-3 {
    padding-bottom: 1rem !important;
  }
  
  .padding-left-3,
  .padding-x-3 {
    padding-left: 1rem !important;
  }
  
  .padding-4 {
    padding: 1.5rem !important;
  }
  
  .padding-top-4,
  .padding-y-4 {
    padding-top: 1.5rem !important;
  }
  
  .padding-right-4,
  .padding-x-4 {
    padding-right: 1.5rem !important;
  }
  
  .padding-bottom-4,
  .padding-y-4 {
    padding-bottom: 1.5rem !important;
  }
  
  .padding-left-4,
  .padding-x-4 {
    padding-left: 1.5rem !important;
  }
  
  .padding-5 {
    padding: 3rem !important;
  }
  
  .padding-top-5,
  .padding-y-5 {
    padding-top: 3rem !important;
  }
  
  .padding-right-5,
  .padding-x-5 {
    padding-right: 3rem !important;
  }
  
  .padding-bottom-5,
  .padding-y-5 {
    padding-bottom: 3rem !important;
  }
  
  .padding-left-5,
  .padding-x-5 {
    padding-left: 3rem !important;
  }
  
  .margin-n1 {
    margin: -0.25rem !important;
  }
  
  .margin-top-n1,
  .margin-y-n1 {
    margin-top: -0.25rem !important;
  }
  
  .margin-right-n1,
  .margin-x-n1 {
    margin-right: -0.25rem !important;
  }
  
  .margin-bottom-n1,
  .margin-y-n1 {
    margin-bottom: -0.25rem !important;
  }
  
  .margin-left-n1,
  .margin-x-n1 {
    margin-left: -0.25rem !important;
  }
  
  .margin-n2 {
    margin: -0.5rem !important;
  }
  
  .margin-top-n2,
  .margin-y-n2 {
    margin-top: -0.5rem !important;
  }
  
  .margin-right-n2,
  .margin-x-n2 {
    margin-right: -0.5rem !important;
  }
  
  .margin-bottom-n2,
  .margin-y-n2 {
    margin-bottom: -0.5rem !important;
  }
  
  .margin-left-n2,
  .margin-x-n2 {
    margin-left: -0.5rem !important;
  }
  
  .margin-n3 {
    margin: -1rem !important;
  }
  
  .margin-top-n3,
  .margin-y-n3 {
    margin-top: -1rem !important;
  }
  
  .margin-right-n3,
  .margin-x-n3 {
    margin-right: -1rem !important;
  }
  
  .margin-bottom-n3,
  .margin-y-n3 {
    margin-bottom: -1rem !important;
  }
  
  .margin-left-n3,
  .margin-x-n3 {
    margin-left: -1rem !important;
  }
  
  .margin-n4 {
    margin: -1.5rem !important;
  }
  
  .margin-top-n4,
  .margin-y-n4 {
    margin-top: -1.5rem !important;
  }
  
  .margin-right-n4,
  .margin-x-n4 {
    margin-right: -1.5rem !important;
  }
  
  .margin-bottom-n4,
  .margin-y-n4 {
    margin-bottom: -1.5rem !important;
  }
  
  .margin-left-n4,
  .margin-x-n4 {
    margin-left: -1.5rem !important;
  }
  
  .margin-n5 {
    margin: -3rem !important;
  }
  
  .margin-top-n5,
  .margin-y-n5 {
    margin-top: -3rem !important;
  }
  
  .margin-right-n5,
  .margin-x-n5 {
    margin-right: -3rem !important;
  }
  
  .margin-bottom-n5,
  .margin-y-n5 {
    margin-bottom: -3rem !important;
  }
  
  .margin-left-n5,
  .margin-x-n5 {
    margin-left: -3rem !important;
  }
  
  .margin-auto {
    margin: auto !important;
  }
  
  .margin-top-auto,
  .margin-y-auto {
    margin-top: auto !important;
  }
  
  .margin-right-auto,
  .margin-x-auto {
    margin-right: auto !important;
  }
  
  .margin-bottom-auto,
  .margin-y-auto {
    margin-bottom: auto !important;
  }
  
  .margin-left-auto,
  .margin-x-auto {
    margin-left: auto !important;
  }
  
  @media (min-width: 576px) {
    .margin-sm-0 {
      margin: 0 !important;
    }
    .margin-top-sm-0,
    .margin-y-sm-0 {
      margin-top: 0 !important;
    }
    .margin-right-sm-0,
    .margin-x-sm-0 {
      margin-right: 0 !important;
    }
    .margin-bottom-sm-0,
    .margin-y-sm-0 {
      margin-bottom: 0 !important;
    }
    .margin-left-sm-0,
    .margin-x-sm-0 {
      margin-left: 0 !important;
    }
    .margin-sm-1 {
      margin: 0.25rem !important;
    }
    .margin-top-sm-1,
    .margin-y-sm-1 {
      margin-top: 0.25rem !important;
    }
    .margin-right-sm-1,
    .margin-x-sm-1 {
      margin-right: 0.25rem !important;
    }
    .margin-bottom-sm-1,
    .margin-y-sm-1 {
      margin-bottom: 0.25rem !important;
    }
    .margin-left-sm-1,
    .margin-x-sm-1 {
      margin-left: 0.25rem !important;
    }
    .margin-sm-2 {
      margin: 0.5rem !important;
    }
    .margin-top-sm-2,
    .margin-y-sm-2 {
      margin-top: 0.5rem !important;
    }
    .margin-right-sm-2,
    .margin-x-sm-2 {
      margin-right: 0.5rem !important;
    }
    .margin-bottom-sm-2,
    .margin-y-sm-2 {
      margin-bottom: 0.5rem !important;
    }
    .margin-left-sm-2,
    .margin-x-sm-2 {
      margin-left: 0.5rem !important;
    }
    .margin-sm-3 {
      margin: 1rem !important;
    }
    .margin-top-sm-3,
    .margin-y-sm-3 {
      margin-top: 1rem !important;
    }
    .margin-right-sm-3,
    .margin-x-sm-3 {
      margin-right: 1rem !important;
    }
    .margin-bottom-sm-3,
    .margin-y-sm-3 {
      margin-bottom: 1rem !important;
    }
    .margin-left-sm-3,
    .margin-x-sm-3 {
      margin-left: 1rem !important;
    }
    .margin-sm-4 {
      margin: 1.5rem !important;
    }
    .margin-top-sm-4,
    .margin-y-sm-4 {
      margin-top: 1.5rem !important;
    }
    .margin-right-sm-4,
    .margin-x-sm-4 {
      margin-right: 1.5rem !important;
    }
    .margin-bottom-sm-4,
    .margin-y-sm-4 {
      margin-bottom: 1.5rem !important;
    }
    .margin-left-sm-4,
    .margin-x-sm-4 {
      margin-left: 1.5rem !important;
    }
    .margin-sm-5 {
      margin: 3rem !important;
    }
    .margin-top-sm-5,
    .margin-y-sm-5 {
      margin-top: 3rem !important;
    }
    .margin-right-sm-5,
    .margin-x-sm-5 {
      margin-right: 3rem !important;
    }
    .margin-bottom-sm-5,
    .margin-y-sm-5 {
      margin-bottom: 3rem !important;
    }
    .margin-left-sm-5,
    .margin-x-sm-5 {
      margin-left: 3rem !important;
    }
    .padding-sm-0 {
      padding: 0 !important;
    }
    .padding-top-sm-0,
    .padding-y-sm-0 {
      padding-top: 0 !important;
    }
    .padding-right-sm-0,
    .padding-x-sm-0 {
      padding-right: 0 !important;
    }
    .padding-bottom-sm-0,
    .padding-y-sm-0 {
      padding-bottom: 0 !important;
    }
    .padding-left-sm-0,
    .padding-x-sm-0 {
      padding-left: 0 !important;
    }
    .padding-sm-1 {
      padding: 0.25rem !important;
    }
    .padding-top-sm-1,
    .padding-y-sm-1 {
      padding-top: 0.25rem !important;
    }
    .padding-right-sm-1,
    .padding-x-sm-1 {
      padding-right: 0.25rem !important;
    }
    .padding-bottom-sm-1,
    .padding-y-sm-1 {
      padding-bottom: 0.25rem !important;
    }
    .padding-left-sm-1,
    .padding-x-sm-1 {
      padding-left: 0.25rem !important;
    }
    .padding-sm-2 {
      padding: 0.5rem !important;
    }
    .padding-top-sm-2,
    .padding-y-sm-2 {
      padding-top: 0.5rem !important;
    }
    .padding-right-sm-2,
    .padding-x-sm-2 {
      padding-right: 0.5rem !important;
    }
    .padding-bottom-sm-2,
    .padding-y-sm-2 {
      padding-bottom: 0.5rem !important;
    }
    .padding-left-sm-2,
    .padding-x-sm-2 {
      padding-left: 0.5rem !important;
    }
    .padding-sm-3 {
      padding: 1rem !important;
    }
    .padding-top-sm-3,
    .padding-y-sm-3 {
      padding-top: 1rem !important;
    }
    .padding-right-sm-3,
    .padding-x-sm-3 {
      padding-right: 1rem !important;
    }
    .padding-bottom-sm-3,
    .padding-y-sm-3 {
      padding-bottom: 1rem !important;
    }
    .padding-left-sm-3,
    .padding-x-sm-3 {
      padding-left: 1rem !important;
    }
    .padding-sm-4 {
      padding: 1.5rem !important;
    }
    .padding-top-sm-4,
    .padding-y-sm-4 {
      padding-top: 1.5rem !important;
    }
    .padding-right-sm-4,
    .padding-x-sm-4 {
      padding-right: 1.5rem !important;
    }
    .padding-bottom-sm-4,
    .padding-y-sm-4 {
      padding-bottom: 1.5rem !important;
    }
    .padding-left-sm-4,
    .padding-x-sm-4 {
      padding-left: 1.5rem !important;
    }
    .padding-sm-5 {
      padding: 3rem !important;
    }
    .padding-top-sm-5,
    .padding-y-sm-5 {
      padding-top: 3rem !important;
    }
    .padding-right-sm-5,
    .padding-x-sm-5 {
      padding-right: 3rem !important;
    }
    .padding-bottom-sm-5,
    .padding-y-sm-5 {
      padding-bottom: 3rem !important;
    }
    .padding-left-sm-5,
    .padding-x-sm-5 {
      padding-left: 3rem !important;
    }
    .margin-sm-n1 {
      margin: -0.25rem !important;
    }
    .margin-top-sm-n1,
    .margin-y-sm-n1 {
      margin-top: -0.25rem !important;
    }
    .margin-right-sm-n1,
    .margin-x-sm-n1 {
      margin-right: -0.25rem !important;
    }
    .margin-bottom-sm-n1,
    .margin-y-sm-n1 {
      margin-bottom: -0.25rem !important;
    }
    .margin-left-sm-n1,
    .margin-x-sm-n1 {
      margin-left: -0.25rem !important;
    }
    .margin-sm-n2 {
      margin: -0.5rem !important;
    }
    .margin-top-sm-n2,
    .margin-y-sm-n2 {
      margin-top: -0.5rem !important;
    }
    .margin-right-sm-n2,
    .margin-x-sm-n2 {
      margin-right: -0.5rem !important;
    }
    .margin-bottom-sm-n2,
    .margin-y-sm-n2 {
      margin-bottom: -0.5rem !important;
    }
    .margin-left-sm-n2,
    .margin-x-sm-n2 {
      margin-left: -0.5rem !important;
    }
    .margin-sm-n3 {
      margin: -1rem !important;
    }
    .margin-top-sm-n3,
    .margin-y-sm-n3 {
      margin-top: -1rem !important;
    }
    .margin-right-sm-n3,
    .margin-x-sm-n3 {
      margin-right: -1rem !important;
    }
    .margin-bottom-sm-n3,
    .margin-y-sm-n3 {
      margin-bottom: -1rem !important;
    }
    .margin-left-sm-n3,
    .margin-x-sm-n3 {
      margin-left: -1rem !important;
    }
    .margin-sm-n4 {
      margin: -1.5rem !important;
    }
    .margin-top-sm-n4,
    .margin-y-sm-n4 {
      margin-top: -1.5rem !important;
    }
    .margin-right-sm-n4,
    .margin-x-sm-n4 {
      margin-right: -1.5rem !important;
    }
    .margin-bottom-sm-n4,
    .margin-y-sm-n4 {
      margin-bottom: -1.5rem !important;
    }
    .margin-left-sm-n4,
    .margin-x-sm-n4 {
      margin-left: -1.5rem !important;
    }
    .margin-sm-n5 {
      margin: -3rem !important;
    }
    .margin-top-sm-n5,
    .margin-y-sm-n5 {
      margin-top: -3rem !important;
    }
    .margin-right-sm-n5,
    .margin-x-sm-n5 {
      margin-right: -3rem !important;
    }
    .margin-bottom-sm-n5,
    .margin-y-sm-n5 {
      margin-bottom: -3rem !important;
    }
    .margin-left-sm-n5,
    .margin-x-sm-n5 {
      margin-left: -3rem !important;
    }
    .margin-sm-auto {
      margin: auto !important;
    }
    .margin-top-sm-auto,
    .margin-y-sm-auto {
      margin-top: auto !important;
    }
    .margin-right-sm-auto,
    .margin-x-sm-auto {
      margin-right: auto !important;
    }
    .margin-bottom-sm-auto,
    .margin-y-sm-auto {
      margin-bottom: auto !important;
    }
    .margin-left-sm-auto,
    .margin-x-sm-auto {
      margin-left: auto !important;
    }
  }
  
  @media (min-width: 768px) {
    .margin-md-0 {
      margin: 0 !important;
    }
    .margin-top-md-0,
    .margin-y-md-0 {
      margin-top: 0 !important;
    }
    .margin-right-md-0,
    .margin-x-md-0 {
      margin-right: 0 !important;
    }
    .margin-bottom-md-0,
    .margin-y-md-0 {
      margin-bottom: 0 !important;
    }
    .margin-left-md-0,
    .margin-x-md-0 {
      margin-left: 0 !important;
    }
    .margin-md-1 {
      margin: 0.25rem !important;
    }
    .margin-top-md-1,
    .margin-y-md-1 {
      margin-top: 0.25rem !important;
    }
    .margin-right-md-1,
    .margin-x-md-1 {
      margin-right: 0.25rem !important;
    }
    .margin-bottom-md-1,
    .margin-y-md-1 {
      margin-bottom: 0.25rem !important;
    }
    .margin-left-md-1,
    .margin-x-md-1 {
      margin-left: 0.25rem !important;
    }
    .margin-md-2 {
      margin: 0.5rem !important;
    }
    .margin-top-md-2,
    .margin-y-md-2 {
      margin-top: 0.5rem !important;
    }
    .margin-right-md-2,
    .margin-x-md-2 {
      margin-right: 0.5rem !important;
    }
    .margin-bottom-md-2,
    .margin-y-md-2 {
      margin-bottom: 0.5rem !important;
    }
    .margin-left-md-2,
    .margin-x-md-2 {
      margin-left: 0.5rem !important;
    }
    .margin-md-3 {
      margin: 1rem !important;
    }
    .margin-top-md-3,
    .margin-y-md-3 {
      margin-top: 1rem !important;
    }
    .margin-right-md-3,
    .margin-x-md-3 {
      margin-right: 1rem !important;
    }
    .margin-bottom-md-3,
    .margin-y-md-3 {
      margin-bottom: 1rem !important;
    }
    .margin-left-md-3,
    .margin-x-md-3 {
      margin-left: 1rem !important;
    }
    .margin-md-4 {
      margin: 1.5rem !important;
    }
    .margin-top-md-4,
    .margin-y-md-4 {
      margin-top: 1.5rem !important;
    }
    .margin-right-md-4,
    .margin-x-md-4 {
      margin-right: 1.5rem !important;
    }
    .margin-bottom-md-4,
    .margin-y-md-4 {
      margin-bottom: 1.5rem !important;
    }
    .margin-left-md-4,
    .margin-x-md-4 {
      margin-left: 1.5rem !important;
    }
    .margin-md-5 {
      margin: 3rem !important;
    }
    .margin-top-md-5,
    .margin-y-md-5 {
      margin-top: 3rem !important;
    }
    .margin-right-md-5,
    .margin-x-md-5 {
      margin-right: 3rem !important;
    }
    .margin-bottom-md-5,
    .margin-y-md-5 {
      margin-bottom: 3rem !important;
    }
    .margin-left-md-5,
    .margin-x-md-5 {
      margin-left: 3rem !important;
    }
    .padding-md-0 {
      padding: 0 !important;
    }
    .padding-top-md-0,
    .padding-y-md-0 {
      padding-top: 0 !important;
    }
    .padding-right-md-0,
    .padding-x-md-0 {
      padding-right: 0 !important;
    }
    .padding-bottom-md-0,
    .padding-y-md-0 {
      padding-bottom: 0 !important;
    }
    .padding-left-md-0,
    .padding-x-md-0 {
      padding-left: 0 !important;
    }
    .padding-md-1 {
      padding: 0.25rem !important;
    }
    .padding-top-md-1,
    .padding-y-md-1 {
      padding-top: 0.25rem !important;
    }
    .padding-right-md-1,
    .padding-x-md-1 {
      padding-right: 0.25rem !important;
    }
    .padding-bottom-md-1,
    .padding-y-md-1 {
      padding-bottom: 0.25rem !important;
    }
    .padding-left-md-1,
    .padding-x-md-1 {
      padding-left: 0.25rem !important;
    }
    .padding-md-2 {
      padding: 0.5rem !important;
    }
    .padding-top-md-2,
    .padding-y-md-2 {
      padding-top: 0.5rem !important;
    }
    .padding-right-md-2,
    .padding-x-md-2 {
      padding-right: 0.5rem !important;
    }
    .padding-bottom-md-2,
    .padding-y-md-2 {
      padding-bottom: 0.5rem !important;
    }
    .padding-left-md-2,
    .padding-x-md-2 {
      padding-left: 0.5rem !important;
    }
    .padding-md-3 {
      padding: 1rem !important;
    }
    .padding-top-md-3,
    .padding-y-md-3 {
      padding-top: 1rem !important;
    }
    .padding-right-md-3,
    .padding-x-md-3 {
      padding-right: 1rem !important;
    }
    .padding-bottom-md-3,
    .padding-y-md-3 {
      padding-bottom: 1rem !important;
    }
    .padding-left-md-3,
    .padding-x-md-3 {
      padding-left: 1rem !important;
    }
    .padding-md-4 {
      padding: 1.5rem !important;
    }
    .padding-top-md-4,
    .padding-y-md-4 {
      padding-top: 1.5rem !important;
    }
    .padding-right-md-4,
    .padding-x-md-4 {
      padding-right: 1.5rem !important;
    }
    .padding-bottom-md-4,
    .padding-y-md-4 {
      padding-bottom: 1.5rem !important;
    }
    .padding-left-md-4,
    .padding-x-md-4 {
      padding-left: 1.5rem !important;
    }
    .padding-md-5 {
      padding: 3rem !important;
    }
    .padding-top-md-5,
    .padding-y-md-5 {
      padding-top: 3rem !important;
    }
    .padding-right-md-5,
    .padding-x-md-5 {
      padding-right: 3rem !important;
    }
    .padding-bottom-md-5,
    .padding-y-md-5 {
      padding-bottom: 3rem !important;
    }
    .padding-left-md-5,
    .padding-x-md-5 {
      padding-left: 3rem !important;
    }
    .margin-md-n1 {
      margin: -0.25rem !important;
    }
    .margin-top-md-n1,
    .margin-y-md-n1 {
      margin-top: -0.25rem !important;
    }
    .margin-right-md-n1,
    .margin-x-md-n1 {
      margin-right: -0.25rem !important;
    }
    .margin-bottom-md-n1,
    .margin-y-md-n1 {
      margin-bottom: -0.25rem !important;
    }
    .margin-left-md-n1,
    .margin-x-md-n1 {
      margin-left: -0.25rem !important;
    }
    .margin-md-n2 {
      margin: -0.5rem !important;
    }
    .margin-top-md-n2,
    .margin-y-md-n2 {
      margin-top: -0.5rem !important;
    }
    .margin-right-md-n2,
    .margin-x-md-n2 {
      margin-right: -0.5rem !important;
    }
    .margin-bottom-md-n2,
    .margin-y-md-n2 {
      margin-bottom: -0.5rem !important;
    }
    .margin-left-md-n2,
    .margin-x-md-n2 {
      margin-left: -0.5rem !important;
    }
    .margin-md-n3 {
      margin: -1rem !important;
    }
    .margin-top-md-n3,
    .margin-y-md-n3 {
      margin-top: -1rem !important;
    }
    .margin-right-md-n3,
    .margin-x-md-n3 {
      margin-right: -1rem !important;
    }
    .margin-bottom-md-n3,
    .margin-y-md-n3 {
      margin-bottom: -1rem !important;
    }
    .margin-left-md-n3,
    .margin-x-md-n3 {
      margin-left: -1rem !important;
    }
    .margin-md-n4 {
      margin: -1.5rem !important;
    }
    .margin-top-md-n4,
    .margin-y-md-n4 {
      margin-top: -1.5rem !important;
    }
    .margin-right-md-n4,
    .margin-x-md-n4 {
      margin-right: -1.5rem !important;
    }
    .margin-bottom-md-n4,
    .margin-y-md-n4 {
      margin-bottom: -1.5rem !important;
    }
    .margin-left-md-n4,
    .margin-x-md-n4 {
      margin-left: -1.5rem !important;
    }
    .margin-md-n5 {
      margin: -3rem !important;
    }
    .margin-top-md-n5,
    .margin-y-md-n5 {
      margin-top: -3rem !important;
    }
    .margin-right-md-n5,
    .margin-x-md-n5 {
      margin-right: -3rem !important;
    }
    .margin-bottom-md-n5,
    .margin-y-md-n5 {
      margin-bottom: -3rem !important;
    }
    .margin-left-md-n5,
    .margin-x-md-n5 {
      margin-left: -3rem !important;
    }
    .margin-md-auto {
      margin: auto !important;
    }
    .margin-top-md-auto,
    .margin-y-md-auto {
      margin-top: auto !important;
    }
    .margin-right-md-auto,
    .margin-x-md-auto {
      margin-right: auto !important;
    }
    .margin-bottom-md-auto,
    .margin-y-md-auto {
      margin-bottom: auto !important;
    }
    .margin-left-md-auto,
    .margin-x-md-auto {
      margin-left: auto !important;
    }
  }
  
  @media (min-width: 992px) {
    .margin-lg-0 {
      margin: 0 !important;
    }
    .margin-top-lg-0,
    .margin-y-lg-0 {
      margin-top: 0 !important;
    }
    .margin-right-lg-0,
    .margin-x-lg-0 {
      margin-right: 0 !important;
    }
    .margin-bottom-lg-0,
    .margin-y-lg-0 {
      margin-bottom: 0 !important;
    }
    .margin-left-lg-0,
    .margin-x-lg-0 {
      margin-left: 0 !important;
    }
    .margin-lg-1 {
      margin: 0.25rem !important;
    }
    .margin-top-lg-1,
    .margin-y-lg-1 {
      margin-top: 0.25rem !important;
    }
    .margin-right-lg-1,
    .margin-x-lg-1 {
      margin-right: 0.25rem !important;
    }
    .margin-bottom-lg-1,
    .margin-y-lg-1 {
      margin-bottom: 0.25rem !important;
    }
    .margin-left-lg-1,
    .margin-x-lg-1 {
      margin-left: 0.25rem !important;
    }
    .margin-lg-2 {
      margin: 0.5rem !important;
    }
    .margin-top-lg-2,
    .margin-y-lg-2 {
      margin-top: 0.5rem !important;
    }
    .margin-right-lg-2,
    .margin-x-lg-2 {
      margin-right: 0.5rem !important;
    }
    .margin-bottom-lg-2,
    .margin-y-lg-2 {
      margin-bottom: 0.5rem !important;
    }
    .margin-left-lg-2,
    .margin-x-lg-2 {
      margin-left: 0.5rem !important;
    }
    .margin-lg-3 {
      margin: 1rem !important;
    }
    .margin-top-lg-3,
    .margin-y-lg-3 {
      margin-top: 1rem !important;
    }
    .margin-right-lg-3,
    .margin-x-lg-3 {
      margin-right: 1rem !important;
    }
    .margin-bottom-lg-3,
    .margin-y-lg-3 {
      margin-bottom: 1rem !important;
    }
    .margin-left-lg-3,
    .margin-x-lg-3 {
      margin-left: 1rem !important;
    }
    .margin-lg-4 {
      margin: 1.5rem !important;
    }
    .margin-top-lg-4,
    .margin-y-lg-4 {
      margin-top: 1.5rem !important;
    }
    .margin-right-lg-4,
    .margin-x-lg-4 {
      margin-right: 1.5rem !important;
    }
    .margin-bottom-lg-4,
    .margin-y-lg-4 {
      margin-bottom: 1.5rem !important;
    }
    .margin-left-lg-4,
    .margin-x-lg-4 {
      margin-left: 1.5rem !important;
    }
    .margin-lg-5 {
      margin: 3rem !important;
    }
    .margin-top-lg-5,
    .margin-y-lg-5 {
      margin-top: 3rem !important;
    }
    .margin-right-lg-5,
    .margin-x-lg-5 {
      margin-right: 3rem !important;
    }
    .margin-bottom-lg-5,
    .margin-y-lg-5 {
      margin-bottom: 3rem !important;
    }
    .margin-left-lg-5,
    .margin-x-lg-5 {
      margin-left: 3rem !important;
    }
    .padding-lg-0 {
      padding: 0 !important;
    }
    .padding-top-lg-0,
    .padding-y-lg-0 {
      padding-top: 0 !important;
    }
    .padding-right-lg-0,
    .padding-x-lg-0 {
      padding-right: 0 !important;
    }
    .padding-bottom-lg-0,
    .padding-y-lg-0 {
      padding-bottom: 0 !important;
    }
    .padding-left-lg-0,
    .padding-x-lg-0 {
      padding-left: 0 !important;
    }
    .padding-lg-1 {
      padding: 0.25rem !important;
    }
    .padding-top-lg-1,
    .padding-y-lg-1 {
      padding-top: 0.25rem !important;
    }
    .padding-right-lg-1,
    .padding-x-lg-1 {
      padding-right: 0.25rem !important;
    }
    .padding-bottom-lg-1,
    .padding-y-lg-1 {
      padding-bottom: 0.25rem !important;
    }
    .padding-left-lg-1,
    .padding-x-lg-1 {
      padding-left: 0.25rem !important;
    }
    .padding-lg-2 {
      padding: 0.5rem !important;
    }
    .padding-top-lg-2,
    .padding-y-lg-2 {
      padding-top: 0.5rem !important;
    }
    .padding-right-lg-2,
    .padding-x-lg-2 {
      padding-right: 0.5rem !important;
    }
    .padding-bottom-lg-2,
    .padding-y-lg-2 {
      padding-bottom: 0.5rem !important;
    }
    .padding-left-lg-2,
    .padding-x-lg-2 {
      padding-left: 0.5rem !important;
    }
    .padding-lg-3 {
      padding: 1rem !important;
    }
    .padding-top-lg-3,
    .padding-y-lg-3 {
      padding-top: 1rem !important;
    }
    .padding-right-lg-3,
    .padding-x-lg-3 {
      padding-right: 1rem !important;
    }
    .padding-bottom-lg-3,
    .padding-y-lg-3 {
      padding-bottom: 1rem !important;
    }
    .padding-left-lg-3,
    .padding-x-lg-3 {
      padding-left: 1rem !important;
    }
    .padding-lg-4 {
      padding: 1.5rem !important;
    }
    .padding-top-lg-4,
    .padding-y-lg-4 {
      padding-top: 1.5rem !important;
    }
    .padding-right-lg-4,
    .padding-x-lg-4 {
      padding-right: 1.5rem !important;
    }
    .padding-bottom-lg-4,
    .padding-y-lg-4 {
      padding-bottom: 1.5rem !important;
    }
    .padding-left-lg-4,
    .padding-x-lg-4 {
      padding-left: 1.5rem !important;
    }
    .padding-lg-5 {
      padding: 3rem !important;
    }
    .padding-top-lg-5,
    .padding-y-lg-5 {
      padding-top: 3rem !important;
    }
    .padding-right-lg-5,
    .padding-x-lg-5 {
      padding-right: 3rem !important;
    }
    .padding-bottom-lg-5,
    .padding-y-lg-5 {
      padding-bottom: 3rem !important;
    }
    .padding-left-lg-5,
    .padding-x-lg-5 {
      padding-left: 3rem !important;
    }
    .margin-lg-n1 {
      margin: -0.25rem !important;
    }
    .margin-top-lg-n1,
    .margin-y-lg-n1 {
      margin-top: -0.25rem !important;
    }
    .margin-right-lg-n1,
    .margin-x-lg-n1 {
      margin-right: -0.25rem !important;
    }
    .margin-bottom-lg-n1,
    .margin-y-lg-n1 {
      margin-bottom: -0.25rem !important;
    }
    .margin-left-lg-n1,
    .margin-x-lg-n1 {
      margin-left: -0.25rem !important;
    }
    .margin-lg-n2 {
      margin: -0.5rem !important;
    }
    .margin-top-lg-n2,
    .margin-y-lg-n2 {
      margin-top: -0.5rem !important;
    }
    .margin-right-lg-n2,
    .margin-x-lg-n2 {
      margin-right: -0.5rem !important;
    }
    .margin-bottom-lg-n2,
    .margin-y-lg-n2 {
      margin-bottom: -0.5rem !important;
    }
    .margin-left-lg-n2,
    .margin-x-lg-n2 {
      margin-left: -0.5rem !important;
    }
    .margin-lg-n3 {
      margin: -1rem !important;
    }
    .margin-top-lg-n3,
    .margin-y-lg-n3 {
      margin-top: -1rem !important;
    }
    .margin-right-lg-n3,
    .margin-x-lg-n3 {
      margin-right: -1rem !important;
    }
    .margin-bottom-lg-n3,
    .margin-y-lg-n3 {
      margin-bottom: -1rem !important;
    }
    .margin-left-lg-n3,
    .margin-x-lg-n3 {
      margin-left: -1rem !important;
    }
    .margin-lg-n4 {
      margin: -1.5rem !important;
    }
    .margin-top-lg-n4,
    .margin-y-lg-n4 {
      margin-top: -1.5rem !important;
    }
    .margin-right-lg-n4,
    .margin-x-lg-n4 {
      margin-right: -1.5rem !important;
    }
    .margin-bottom-lg-n4,
    .margin-y-lg-n4 {
      margin-bottom: -1.5rem !important;
    }
    .margin-left-lg-n4,
    .margin-x-lg-n4 {
      margin-left: -1.5rem !important;
    }
    .margin-lg-n5 {
      margin: -3rem !important;
    }
    .margin-top-lg-n5,
    .margin-y-lg-n5 {
      margin-top: -3rem !important;
    }
    .margin-right-lg-n5,
    .margin-x-lg-n5 {
      margin-right: -3rem !important;
    }
    .margin-bottom-lg-n5,
    .margin-y-lg-n5 {
      margin-bottom: -3rem !important;
    }
    .margin-left-lg-n5,
    .margin-x-lg-n5 {
      margin-left: -3rem !important;
    }
    .margin-lg-auto {
      margin: auto !important;
    }
    .margin-top-lg-auto,
    .margin-y-lg-auto {
      margin-top: auto !important;
    }
    .margin-right-lg-auto,
    .margin-x-lg-auto {
      margin-right: auto !important;
    }
    .margin-bottom-lg-auto,
    .margin-y-lg-auto {
      margin-bottom: auto !important;
    }
    .margin-left-lg-auto,
    .margin-x-lg-auto {
      margin-left: auto !important;
    }
  }
  
  @media (min-width: 1200px) {
    .margin-xl-0 {
      margin: 0 !important;
    }
    .margin-top-xl-0,
    .margin-y-xl-0 {
      margin-top: 0 !important;
    }
    .margin-right-xl-0,
    .margin-x-xl-0 {
      margin-right: 0 !important;
    }
    .margin-bottom-xl-0,
    .margin-y-xl-0 {
      margin-bottom: 0 !important;
    }
    .margin-left-xl-0,
    .margin-x-xl-0 {
      margin-left: 0 !important;
    }
    .margin-xl-1 {
      margin: 0.25rem !important;
    }
    .margin-top-xl-1,
    .margin-y-xl-1 {
      margin-top: 0.25rem !important;
    }
    .margin-right-xl-1,
    .margin-x-xl-1 {
      margin-right: 0.25rem !important;
    }
    .margin-bottom-xl-1,
    .margin-y-xl-1 {
      margin-bottom: 0.25rem !important;
    }
    .margin-left-xl-1,
    .margin-x-xl-1 {
      margin-left: 0.25rem !important;
    }
    .margin-xl-2 {
      margin: 0.5rem !important;
    }
    .margin-top-xl-2,
    .margin-y-xl-2 {
      margin-top: 0.5rem !important;
    }
    .margin-right-xl-2,
    .margin-x-xl-2 {
      margin-right: 0.5rem !important;
    }
    .margin-bottom-xl-2,
    .margin-y-xl-2 {
      margin-bottom: 0.5rem !important;
    }
    .margin-left-xl-2,
    .margin-x-xl-2 {
      margin-left: 0.5rem !important;
    }
    .margin-xl-3 {
      margin: 1rem !important;
    }
    .margin-top-xl-3,
    .margin-y-xl-3 {
      margin-top: 1rem !important;
    }
    .margin-right-xl-3,
    .margin-x-xl-3 {
      margin-right: 1rem !important;
    }
    .margin-bottom-xl-3,
    .margin-y-xl-3 {
      margin-bottom: 1rem !important;
    }
    .margin-left-xl-3,
    .margin-x-xl-3 {
      margin-left: 1rem !important;
    }
    .margin-xl-4 {
      margin: 1.5rem !important;
    }
    .margin-top-xl-4,
    .margin-y-xl-4 {
      margin-top: 1.5rem !important;
    }
    .margin-right-xl-4,
    .margin-x-xl-4 {
      margin-right: 1.5rem !important;
    }
    .margin-bottom-xl-4,
    .margin-y-xl-4 {
      margin-bottom: 1.5rem !important;
    }
    .margin-left-xl-4,
    .margin-x-xl-4 {
      margin-left: 1.5rem !important;
    }
    .margin-xl-5 {
      margin: 3rem !important;
    }
    .margin-top-xl-5,
    .margin-y-xl-5 {
      margin-top: 3rem !important;
    }
    .margin-right-xl-5,
    .margin-x-xl-5 {
      margin-right: 3rem !important;
    }
    .margin-bottom-xl-5,
    .margin-y-xl-5 {
      margin-bottom: 3rem !important;
    }
    .margin-left-xl-5,
    .margin-x-xl-5 {
      margin-left: 3rem !important;
    }
    .padding-xl-0 {
      padding: 0 !important;
    }
    .padding-top-xl-0,
    .padding-y-xl-0 {
      padding-top: 0 !important;
    }
    .padding-right-xl-0,
    .padding-x-xl-0 {
      padding-right: 0 !important;
    }
    .padding-bottom-xl-0,
    .padding-y-xl-0 {
      padding-bottom: 0 !important;
    }
    .padding-left-xl-0,
    .padding-x-xl-0 {
      padding-left: 0 !important;
    }
    .padding-xl-1 {
      padding: 0.25rem !important;
    }
    .padding-top-xl-1,
    .padding-y-xl-1 {
      padding-top: 0.25rem !important;
    }
    .padding-right-xl-1,
    .padding-x-xl-1 {
      padding-right: 0.25rem !important;
    }
    .padding-bottom-xl-1,
    .padding-y-xl-1 {
      padding-bottom: 0.25rem !important;
    }
    .padding-left-xl-1,
    .padding-x-xl-1 {
      padding-left: 0.25rem !important;
    }
    .padding-xl-2 {
      padding: 0.5rem !important;
    }
    .padding-top-xl-2,
    .padding-y-xl-2 {
      padding-top: 0.5rem !important;
    }
    .padding-right-xl-2,
    .padding-x-xl-2 {
      padding-right: 0.5rem !important;
    }
    .padding-bottom-xl-2,
    .padding-y-xl-2 {
      padding-bottom: 0.5rem !important;
    }
    .padding-left-xl-2,
    .padding-x-xl-2 {
      padding-left: 0.5rem !important;
    }
    .padding-xl-3 {
      padding: 1rem !important;
    }
    .padding-top-xl-3,
    .padding-y-xl-3 {
      padding-top: 1rem !important;
    }
    .padding-right-xl-3,
    .padding-x-xl-3 {
      padding-right: 1rem !important;
    }
    .padding-bottom-xl-3,
    .padding-y-xl-3 {
      padding-bottom: 1rem !important;
    }
    .padding-left-xl-3,
    .padding-x-xl-3 {
      padding-left: 1rem !important;
    }
    .padding-xl-4 {
      padding: 1.5rem !important;
    }
    .padding-top-xl-4,
    .padding-y-xl-4 {
      padding-top: 1.5rem !important;
    }
    .padding-right-xl-4,
    .padding-x-xl-4 {
      padding-right: 1.5rem !important;
    }
    .padding-bottom-xl-4,
    .padding-y-xl-4 {
      padding-bottom: 1.5rem !important;
    }
    .padding-left-xl-4,
    .padding-x-xl-4 {
      padding-left: 1.5rem !important;
    }
    .padding-xl-5 {
      padding: 3rem !important;
    }
    .padding-top-xl-5,
    .padding-y-xl-5 {
      padding-top: 3rem !important;
    }
    .padding-right-xl-5,
    .padding-x-xl-5 {
      padding-right: 3rem !important;
    }
    .padding-bottom-xl-5,
    .padding-y-xl-5 {
      padding-bottom: 3rem !important;
    }
    .padding-left-xl-5,
    .padding-x-xl-5 {
      padding-left: 3rem !important;
    }
    .margin-xl-n1 {
      margin: -0.25rem !important;
    }
    .margin-top-xl-n1,
    .margin-y-xl-n1 {
      margin-top: -0.25rem !important;
    }
    .margin-right-xl-n1,
    .margin-x-xl-n1 {
      margin-right: -0.25rem !important;
    }
    .margin-bottom-xl-n1,
    .margin-y-xl-n1 {
      margin-bottom: -0.25rem !important;
    }
    .margin-left-xl-n1,
    .margin-x-xl-n1 {
      margin-left: -0.25rem !important;
    }
    .margin-xl-n2 {
      margin: -0.5rem !important;
    }
    .margin-top-xl-n2,
    .margin-y-xl-n2 {
      margin-top: -0.5rem !important;
    }
    .margin-right-xl-n2,
    .margin-x-xl-n2 {
      margin-right: -0.5rem !important;
    }
    .margin-bottom-xl-n2,
    .margin-y-xl-n2 {
      margin-bottom: -0.5rem !important;
    }
    .margin-left-xl-n2,
    .margin-x-xl-n2 {
      margin-left: -0.5rem !important;
    }
    .margin-xl-n3 {
      margin: -1rem !important;
    }
    .margin-top-xl-n3,
    .margin-y-xl-n3 {
      margin-top: -1rem !important;
    }
    .margin-right-xl-n3,
    .margin-x-xl-n3 {
      margin-right: -1rem !important;
    }
    .margin-bottom-xl-n3,
    .margin-y-xl-n3 {
      margin-bottom: -1rem !important;
    }
    .margin-left-xl-n3,
    .margin-x-xl-n3 {
      margin-left: -1rem !important;
    }
    .margin-xl-n4 {
      margin: -1.5rem !important;
    }
    .margin-top-xl-n4,
    .margin-y-xl-n4 {
      margin-top: -1.5rem !important;
    }
    .margin-right-xl-n4,
    .margin-x-xl-n4 {
      margin-right: -1.5rem !important;
    }
    .margin-bottom-xl-n4,
    .margin-y-xl-n4 {
      margin-bottom: -1.5rem !important;
    }
    .margin-left-xl-n4,
    .margin-x-xl-n4 {
      margin-left: -1.5rem !important;
    }
    .margin-xl-n5 {
      margin: -3rem !important;
    }
    .margin-top-xl-n5,
    .margin-y-xl-n5 {
      margin-top: -3rem !important;
    }
    .margin-right-xl-n5,
    .margin-x-xl-n5 {
      margin-right: -3rem !important;
    }
    .margin-bottom-xl-n5,
    .margin-y-xl-n5 {
      margin-bottom: -3rem !important;
    }
    .margin-left-xl-n5,
    .margin-x-xl-n5 {
      margin-left: -3rem !important;
    }
    .margin-xl-auto {
      margin: auto !important;
    }
    .margin-top-xl-auto,
    .margin-y-xl-auto {
      margin-top: auto !important;
    }
    .margin-right-xl-auto,
    .margin-x-xl-auto {
      margin-right: auto !important;
    }
    .margin-bottom-xl-auto,
    .margin-y-xl-auto {
      margin-bottom: auto !important;
    }
    .margin-left-xl-auto,
    .margin-x-xl-auto {
      margin-left: auto !important;
    }
  }